/*-------------------------------------------------------*/
		/* Contact Section */
	/*-------------------------------------------------------*/
    #contact {
		padding:30px 0;
		overflow:hidden;
	}
	.contact-info, .contact-form {
		float:left;
		padding:0 20px;
	}
	.contact-info {
		width:250px;
	}
	.contact-form {
		width:530px;
	}
	/* Contact info */
	.contact-info ul {
		float:left;
		border-left:1px solid /*mainColor*/#fdc750;
		padding-left:18px;
	}
	.contact-info ul li {
		font-size:13px;
		line-height:20px;
		color: #666;
		overflow: hidden;
	}

	/* Google map */
		#map {
		height: 300px;
		margin-bottom:25px;
		width: 100%;
		border-bottom:1px solid #CCC;
		border-top:1px solid #CCC;
	}
	.contact-info {
		width:250px;
	}
	.contact-form {
		width:420px;
	}
	.contact-info {
		width:280px;
	}
	.contact-form {
		margin-top:20px;
		width:280px;
	}
	.contact-info, .contact-form {
		padding:0 10px;
	}