/*-------------------------------------------------------*/
		/* Top Section */
	/*-------------------------------------------------------*/
/	header {
		height:60px;
		margin-bottom:20px;
		overflow:hidden;
	}
	/* Logo */
	#logo {
		float:left;
		overflow:hidden;
		margin-left:10px;
		display:none;
	}
	#logo h2 {
		font-size:30px;
		font-weight:900;
		color: #444;
		line-height:40px;
	}
	#logo h4 {
		color:#666;
		line-height:20px;
	}
	/* Social icons */
	.socialicons {
		float:right;
		margin-top:18px;
	}
	.socialicons li {
		float:left;
		display:inline;
		margin:0;
		padding:0;
		margin-right:2px;
	}
	.socialicons li a  {
		font-family: 'icomoon';
		font-size: 16px;
		display: block;
		padding: 6px 8px;
		background-color:#222;
		color: #FFF;
	}
	.socialicons li a:hover  {
		color:/*mainColor*/#fdc750;
	}
	.social-icons li:last-child {
		margin-right:0
	}
	.socialicons .socials-text {
		padding:9px;
		height:10px;
		background-color:#222;
		color:#FFF;
	}