	-------------------------------------------
 /* CSS para el formulrio trabaja con nosotros*/
		---------------------------
/* 
    Created on : 02-oct-2017, 10:55:02
    Author     : Jenn
*/
.well-block {
    background-color: #fff;
    border: 1px solid #e9e6e8;
    padding: 40px;
}

.well-title {
    margin-bottom: 40px;
}
---------------------------------------